<!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/show">Inicio</a>
                <a class="navbar-brand" href="/app/servicios">Servicios</a>
                <a class="navbar-brand" href="/app/agregar_servicio">Agregar Servicios</a>
                <a class="navbar-brand" href="/app/vehiculos/listar">Vehiculos en lista</a>
                <a class="navbar-brand" href="/app/agregar_vehiculo">Agregar Vehiculos en lista</a>
                <a class="navbar-brand" href="/app/catalogo_tienda">Catalogo de productos</a>
                <a class="navbar-brand" href="/app/agregar_producto">Agregar producto</a>
                <a class="btn btn-primary" href="">login</a>
            </div>
    </nav>